{% extends 'base.html' %}

<!-- Don't forget to uncomment TITLE-->
{% block title %}
Task Manager - Create A New Task
{% endblock title %}

{% block content %}
<!-- HTML Content Here -->
<main>
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}