body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

main {
    padding: 16px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: goldenrod;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 12px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

a {
    /* remove underline */
    text-decoration-line: none;
}

a:hover {
    /* change link text color 
    * to blue on mouse hover */
    color: blue;
}